<head>
</head>
<body>
  <header>
  </header>
  <main>
    <div>
      <%= link_to "成績登録", new_score_path  %>
      <a href="#">過去の成績</a>
      <a href="#">タスク</a>
      <a href="#">ユーザー情報</a>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </main>
  <footer>
  </footer>
</body>
