<head>
</head>
<body>
<header>
</header>
<main>
<div>
<%=  %>
</div>
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<div>
<% @array_subject.each do |hoge| %>
<%= hoge %>
<% end %>
</div>

</main>
<footer>
</footer>
</body>
