<head>
</head>
<body>
<header>
</header>
<main>
<div>
<%=  %>
</div>
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<div>
受験した教科
<% @array_subject.each do |hoge| %>
<%= hoge %>
<% end %>
</div>
<div>
平均点
<% @array_average.each do |fuga| %>
<%= fuga %>
<% end %>
</div>
<div>
点数
<% @array_score.each do |gofo| %>
<%= gofo %>
<% end %>
</div>

</main>
<footer>
</footer>
</body>
